{% extends 'base.html.twig' %}

{% block title %}The articles
{% endblock %}

{% block body %}
	<h1>The articles</h1>
	{# {{ dump(articles) }} #}
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>PublishDate</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>
						<a href="{{ path("app_article_show", {"article": article.id } ) }}">{{ article.title }}</a>
					</td>
					<td>{{ article.publishDate ? article.publishDate|date('d/m/Y H:i:s') : '' }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no articles found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="position-relative mt-4">
		<div class="position-absolute top-0 start-50 translate-middle mt-4">
			<ul class="pagination">
				<li class="page-item {% if actualPage == 1 %}disabled{% endif %}">
					<a class="page-link" href="{{ path('app_article', {'page': actualPage - 1}) }}">&laquo;</a>
				</li>
				{% for page in pages %}
					<li class="page-item {% if actualPage == page %}active{% endif %}">
						<a class="page-link" href="{{ path('app_article', {'page': page}) }}">{{ page }}</a>
					</li>
				{% endfor %}
				<li class="page-item {% if actualPage == lastPage %}disabled{% endif %}">
					<a class="page-link" href="{{ path('app_article', {'page': actualPage + 1}) }}">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
