{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<h1>{{ article.title }}</h1>

	<p>date:
		{{ article.publishDate | date("d/m/Y") }}
	</p>

	<div>
		{{ article.content }}
	</div>


	<p class="mt-2">Author:
		{{ article.author.pseudo }}
	</p>

	<p>Category:
		{{ article.category.name }}
	</p>

	<h5 class="mt-4">Commentaires:
	</h5>

	<hr>
	{% for comment in comments %}
		<h6>{{comment.title }}</h6>
		<p>{{ comment.content }}</p>
		<p>by:
			{{ comment.author }}
			- date:
			{{ comment.publishDate | date("d/m/Y H:i") }}
		</p>
		<hr>
	{% else %}
		<p>There is not comments actually</p>
	{% endfor %}

	<a href="{{ path("app_article_comment", {"article" : article.id }) }}" class="btn btn-primary">Post a comment</a>
	{# {{ dump(comments) }} #}
{% endblock %}
